<div>
    <input #searchbox type="search" (keydown.enter)="onSearch(searchbox.value)" >
    <button (click)="onSearch(searchbox.value)">Search</button>
</div>

<div *ngIf="gifs">
<h2>Results for {{ this.q }}</h2>

<div *ngIf="prev">
  <a [routerLink]="'/search/' + q + '/' + prev">Previous</a>
</div>
<div *ngIf="next">
  <a [routerLink]="'/search/' + q + '/' + next">Next</a>
</div>

<ul class="gifs">
  <li *ngFor="let gif of gifs">
    <a routerLink="/detail/{{gif.id}}">
      <img src="{{gif.still_url}}" />
    </a>
  </li>
</ul>
</div>

<div style="clear:both"></div>
