<h2>Search</h2>

<div>
    <input #searchbox type="search" (keydown.enter)="onSearch(searchbox.value)" >
    <button (click)="onSearch(searchbox.value)">Search</button>
</div>

<div *ngIf="gifs">
<h2>Results for {{ this.q }}</h2>

<ul class="pager">
  <li *ngIf="prev"><a [routerLink]="'/search/' + q + '/' + prev">Previous</a></li>
  <li *ngIf="next"><a [routerLink]="'/search/' + q + '/' + next">Next</a></li>
</ul>

<ul class="gifs">
  <li *ngFor="let gif of gifs">
    <a routerLink="/detail/{{gif.id}}">
      <img src="{{gif.still_url}}" />
    </a>
  </li>
</ul>
</div>

<div style="clear:both"></div>
